body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeSfKHie5g34oHM2sPd9_r6B35V9FHuEizvfAAuALPn0Lsrm03IRqhF4E&s=10);

    background-attachment: fixed;

    background-size: cover;

    background-position: center;

}

.fundo {
    width: 900px;
    align-content: end;
    margin: 40px auto;
    border-radius: 5px;
    background-color: rgba(146, 233, 175, 0.6);
}
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Bangers', cursive, sans-serif;
    font-size: 20px;
}

p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: cursive
}

button {
    display: block;
    margin: 30px auto;
    background-color: rgb(166, 238, 152);
    
    
}

a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 5px;
    font-family: cursive;
}