body{
background-image: url(assets/dimraeth.jpg);

background-attachment: fixed;

background-size: cover;

background-position: center;

image-rendering: pixelated;
}

h1{
    text-align: start;
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p{
    text-align: center;
    color: rgb(255, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

button{
    display: block;
    margin: 20px auto;
    background-color: azure;
    border-radius: 10%;
}